<h1> Room's Details</h1>
<div class="room card mb-3">
  <div class="card-body">
    <%= render @room %>
    <% unless current_user.admin? %>
      <%= link_to "Book", new_hotel_room_booking_path(@hotel, @room), class: "btn btn-primary" %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to 'Delete room', hotel_room_path(@room), class: "btn btn-dark", data: { turbo_method: :delete, turbo_confirm: "Are you Sure?" } %>
     <% end %>
      <%= link_to 'Back To Hotel', hotel_path(@hotel), class: "btn btn-secondary" %>
  </div>
</div>

<% @room.bookings.each do |book| %>
  <%= render 'bookings/booking', booking: book %>
<% end %>

