<div class="mb-3">
<%= render @hotel %>
</div>
<% @hotel.rooms.each do |room| %>
  <%= render 'rooms/room', room: room %>
<% end %>

<div class="mt-3">
 <p> <%= link_to "Edit this hotel", edit_hotel_path(@hotel), class: "btn btn-warning mr-2" %></p>
 <p> <%= link_to "Back to hotels", hotels_path, class: "btn btn-secondary mr-2" %></p>
 <p> <%= button_to "Destroy this hotel", @hotel, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
  <p> <%= link_to "Add Room", new_room_path, class: "btn btn-dark" %></p>
</div>