<!DOCTYPE html>
<html>
<head>
  <title>HotelProject</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render 'layouts/messages' %>
<% if current_user %>
  <p><%= "#{current_user.username} is logged in" %></p>
  <p> <%= link_to 'Log out', destroy_user_session_path,
                  class: "btn btn-secondary",
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-warning mr-2" %>
    <%= link_to "Delete Account", registration_path(current_user), class: "btn btn-dark", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </p>
<% end %>


<div style="margin: 20px">
  <%= yield %>
  <% if current_user && !current_page?(root_path) %>
    <%= link_to 'Home', root_path, class: "btn btn-secondary mt-2" %>
  <% end %>
</div>
</body>
</html>
